<!doctype html>
<html>
<head>
    <title>YouCmd - Manage</title>
    <link rel="stylesheet" type="text/css" href="../css/manage.css">

    <!-- Bootsrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">YouCmd</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h3 class="text-center">Options</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h3 class="text-center">Commands</h3>
                <table id="commands"></table>
            </div>
        </div>
    </div>

</div>
</body>

<script src="../scripts/displayCommands.js"></script>
<script src="../scripts/manage.js"></script>
</html>
