<!doctype html>
<html>
<head>
    <title>YouCmd - Manage</title>
    <link rel="stylesheet" type="text/css" href="../css/manage.css">

    <!-- Bootsrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">YouCmd</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h3 class="text-center">Options</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h3 class="text-center">Commands</h3>
                <form id="form_edit"><input type="submit" value="Submit"></form>
                <table id="commands"></table>
                <div id="addCommandForm"></div>
                <div id="addCommandBtn">+ Add</div>
            </div>
            <div id="confirmationWindow">
                <p id="confirm_q">Do you want to delete this command?</p>
                <span id="tempID"></span>
                <table id="confirm_table">
                    <tr>
                        <th>Command</th>
                        <th>Action</th>
                    </tr>
                    <tr id="confirm_info">
                        <td id="confirm_cmd"></td>
                        <td id="confirm_action"></td>
                    </tr>
                </table>
                <!-- <div id="confirm_info">
                    <span id="confirm_cmd"></span><span id="confirm_action"></span>
                </div> -->
                <div id="confirm_cancel">Cancel</div>
                <div id="confirm_delete">Delete</div>
            </div>
        </div>
    </div>

</div>
</body>

<script src="../scripts/displayCommands.js"></script>
<script src="../scripts/manage.js"></script>
</html>
