<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
  <head>
    <title>YouCmd - Popup</title>
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="../css/popup.css">

  </head>
  <body>
    <div id="header">
        <h2 id="title" class="textCenter">Quick Commands</h2>
    </div>
    <div id="content">
        <h3 class="textCenter">Commands</h3>
        <!-- <div id="commands"></div> -->
        <table id="commands"></table>
        <div id="addCommandForm"></div>
        <div id="addCommandBtn">+ Add</div>
        <div id="confirmationWindow">
            <p id="confirm_q">Do you want to delete this command?</p>
            <span id="tempID"></span>
            <table id="confirm_table">
                <tr>
                    <th>Command</th>
                    <th>Action</th>
                </tr>
                <tr id="confirm_info">
                    <td id="confirm_cmd"></td>
                    <td id="confirm_action"></td>
                </tr>
            </table>
            <!-- <div id="confirm_info">
                <span id="confirm_cmd"></span><span id="confirm_action"></span>
            </div> -->
            <div id="confirm_cancel">Cancel</div>
            <div id="confirm_delete">Delete</div>
        </div>
    </div>
  </body>

  <script src="../scripts/displayCommands.js"></script>
  <script src="../scripts/popup.js"></script>
</html>
